
/* Fix the Body */
.background {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Fix the Nav */
.nav {
    background-color: #1E424D;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.nav ul {
    display: flex; /* Makes the list items sit in a row */
    list-style: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
}

.nav a {
    display: block;
    color: #f2f2f2;
    padding: 14px 20px;
    text-decoration: none;
}

/* FIXED: Added . to target the classes */
.calculator-body {
    background-color: #C1C555;
    border: 2px solid #8B8E3C

;
    border-radius: 10px;
    width: 300px;
    height: 460px;
    padding: 20px;
}

.calculator-screen {
    background-color: #E5D595;
    border: 2px solid #8B8E3C

;
    border-radius: 10px;
    width: 100%;
    /* Changed to fill the body */
    height: 60px;
    /* Added height so you can see it */
    margin-bottom: 20px;
}

.calculator-pad {
    /* display: grid; */
    /* This creates 4 columns of equal width */
    /* grid-template-columns: repeat(4, 1fr); */
    /* This creates the 10px space between buttons */
    /* gap: 10px; */
    padding: 20px;
    background-color: #8B8E3C;
    /* Matching your previous body color */
    border-radius: 10px;
    border: 2px solid #C1C555;
}

.calculator-pad input[type="button"] {
    background-color: #330404;
    color: #ffffff;
    padding: 20px;
    /* Makes the buttons bigger and easier to click */
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    /* Makes the mouse look like a hand when hovering */
}

/* Added a hover effect for a better UX */
.calculator-pad input[type="button"]:hover {
    background-color: #550606;
}


/* New Centering Wrapper for the Calculator */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Takes up most of the screen height */
    padding-bottom: 60px; /* Space for the footer */
}

.templates {
    display: flex;
    justify-content: center;
    border: black solid 1px;
    gap: 10px;
    margin-top: 20px;
}

.palette {
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
}

.template1 {
    background-color: #7785D3;
    border: black solid 1px;
    color: white;
    font-size: small;
    text-align: center;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    float: left;
}

.template2 {
    background-color: #1E424D;
     border: black solid 1px;
     color: white;
    font-size: small;
    text-align: center;
    border-radius: 50%;
   width: 85px;
    height: 85px;
    float: left;
}

.template3 {
    background-color: #E5D595;
      border: black solid 1px;
      color: white;
    font-size: small;
    text-align: center;
    border-radius: 50%;
width: 85px;
    height: 85px;
    float: left;
}

.template4 {
    background-color: #E19E1F;
    border: black solid 1px;
    color: white;
    font-size: small;
    text-align: center;
    border-radius: 50%;
  width: 85px;
    height: 85px;
    float: left;
}

.template5 {
    background-color: #663E1F;
    border: black solid 1px;
    color: white;
    font-size: small;
    text-align: center;
    border-radius: 50%;
  width: 85px;
    height: 85px;
    float: left;
}

.template6 {
    background-color: #FFCF81;
   border: black solid 1px;
   color: white;
    font-size: small;
    text-align: center;
    border-radius: 50%;
  width: 85px;
    height: 85px;
    float: left;
}

.template7 {
    background-color: #FFA719;
    border: black solid 1px;
    color: white;
    font-size: small;
    text-align: center;
    border-radius: 50%;
 width: 85px;
    height: 85px;
    float: left;
}

.template8 {
    background-color: #383A04;
   border: black solid 1px;
   color: white;
    font-size: small;
    text-align: center;
    border-radius: 50%;
 width: 85px;
    height: 85px;
    float: left;
}

.template9 {
    background-color: #8B8E3C;
   border: black solid 1px;
   color: white;
    font-size: small;
    text-align: center;
    border-radius: 50%;
width: 85px;
    height: 85px;
    float: left;
}

.template10 {
    background-color: #C1C555;
    border: black solid 1px;
    color: white;
    font-size: small;
    text-align: center;
    border-radius: 50%;
width: 85px;
    height: 85px;
    float: left;
}

.div {
    background-color: #939493;
    border: black solid 1px;
    height: 100px;
    width: 100px;
}

/* Ensure the footer doesn't cover content */
.footer {
    background-color: #77B5D3;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}